*,
html {
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans";
}

header {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(71, 71, 71);
  color: rgb(201, 201, 201);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.logo {
  margin-top: 0;
  align-self: center;
}

.navbar {
  display: flex;
  margin-top: -20px;
  margin-bottom: -20px;
  align-items: center;
  justify-content: flex-end;
}

.navbar > a:hover {
  background-color: rgb(56, 56, 56);
}

.navbar,
a {
  color: rgb(201, 201, 201);
  padding: 20px;
  text-decoration: none;
}

.judul {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 40px;
}

/* RUMUS SECTION */
.rumus {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.rumus-angka {
  display: flex;
  flex-direction: column;
}

.img-rumus {
  width: 300px;
  height: 300px;
}

/* INPUT SECTION */

.container-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

label {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 4px;
}

input {
  width: 300px;
  outline: none;
  border-radius: 5px;
  padding: 8px;
  border: 1px solid grey;
  text-align: center;
  box-decoration-break: none;
}

/* BUTTON SECTION */
.container-button {
  display: flex;
  align-self: center;
  padding: 20px;
  gap: 20px;
}

button {
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

/* SUBMIT & RESET LUAS */

#submit-luas {
  background-color: rgb(127, 172, 255);
}

#submit-luas:hover {
  background-color: rgb(87, 146, 255);
}

#reset-luas {
  background-color: rgb(255, 60, 60);
}

#reset-luas:hover {
  background-color: rgb(255, 87, 87);
}

/* SUBMIT & RESET KELILING */

#submit-keliling {
  background-color: rgb(127, 172, 255);
}

#submit-keliling:hover {
  background-color: rgb(87, 146, 255);
}

#reset-keliling {
  background-color: rgb(255, 60, 60);
}

#reset-keliling:hover {
  background-color: rgb(255, 87, 87);
}

/* HASIL SECTION */

#hasil-luas {
  text-align: center;
}

#hasil-keliling {
  text-align: center;
}
